<h3>Welcome to mister cocktail !</h3>
<h4>Here is the list of all our cocktails</h4>

<ul>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
<% end %>
</ul>

<hr>

<p><%= link_to "I want to add a new Cocktail", new_cocktail_path, class: "btn, btn-primary"  %></p>
