@import "utilities";
@import "footer";
@import "navbar";


body {
  background-image:  url("http://res.cloudinary.com/dpmc03d5t/image/upload/b_rgb:abccf4,bo_1px_solid_rgb:000,e_gradient_fade:20,o_94,q_69/v1487519095/plage_palmiers_gilebi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;
}

.cocktail {
   flex: 0 0 400px;
}

.cocktail-card {
  height: 200px ;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

a.cocktail {
  padding: 1px;
  border-radius: 3px;
}

a.cocktail:hover {
  opacity: 0.8;
}
a {
  padding: 10px;
  border-radius: 3px;
}

a:hover {
  text-decoration: none;

}

// .cocktail-card {
//   background-image: cover;
// }
